<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Iport Jira</title>
        <link rel='stylesheet' href='/css/style.css' />
        <link rel='stylesheet' href='/css/font-awesome/css/font-awesome.min.css' />
        <link rel="stylesheet" type="text/css" href="/ext-6.0.1/ext-theme-crisp/ext-theme-crisp-all.css">
        <script type="text/javascript" src="/ext-6.0.1/ext-all.js"></script>
        <script type="text/javascript" src="/ext-6.0.1/ext-locale-ru.js"></script>

        <% if(process.env.MOCKING) { %>
        <script type="text/javascript">window.MOCK_DATA={};</script>
        <script type="text/javascript" src="/app/data/mock-data.js"></script>
        <script type="text/javascript" src="/app/init-sim.js"></script>
        <% } %>

        <script type="text/javascript" src="/app/app.js"></script>

    </head>
  <body>
  </body>
</html>
